
  .head-btn h1{
    margin-top: 150px;
    text-align: center;
    color: $primary-color;
  }
  .brand {
    // text-align: center;
  }
  
  .brand img {
    width: 50px;
  }
  
  .p1:hover, .p2:hover {
      opacity: .3;
    cursor: pointer;
  }
  

  
  #portfolio p {
      color: grey;
      font-size: 12px;
      font-weight: 200;
  }
  
  .content {
      width: 100%;
      margin: 0 auto;
      padding: 0px;
      text-align: center;
  }
  
  .single-content img {
      width: 140px;
      // height: 100%;
      margin: 10px;
  }
  
  .filters {
      width: 100px;
      border-radius: 100px;
      // text-align: center;
  }
  
  .list-isotop {
      list-style: none;
      padding: 20px 20px;
      li {
        // display: inline;
        padding: 10px 25px;
        font-size: 17px;
        color: #636363;
        font-weight: 400;
        cursor: pointer;
          text-transform: uppercase;
          // letter-spacing: .2em;
    }
    
    li:hover {
        color: #ED4264 ;
    }
    
    li.active {
        color: white ;
        border: 1px solid #ED4264 ;
        border-radius: 15px;
        background-color:#ED4264 ;
    }
  }
  
  