// ====================================
// Company
// ====================================
.company {
    background: url(../../img/company/company-bg.png) no-repeat;
    background-position: 100%;
    padding-top: 120px;
    .graph {
        padding: 80px 0;
    }
}