// ====================================
// Company
// ====================================
.company {
    background: url(../../img/company/company-bg.png) no-repeat;
    background-position: 100%;
    padding-top: 120px;
    .graph {
        padding: 80px 0;
    }
}


// heading stop start
hr {
    color: $primary-color;
    border: 1px solid #E8E8E8;
    margin: 1em;
    width: 75px;
    transform: translate(10px, 0px);
  }
  hr:before {
    content: '';
    border-radius: 100%;
    position: absolute;
    height: 10px;
    width: 10px;
    background: $primary-color;
    left: 50%;
    transform: translate(-3px, -4px);
  }
  
  hr:after{
    content: '';
    width: 40px;
    border: 3px solid $primary-color;
    position: absolute;
    transform: translate(-19px, -2px);
  }
  .line{
    margin-top: 21px;
    margin-bottom: 10px;
  }
// heading stop 

.about-text{
  padding: 50px;
}