//    Font Family

$primary-font	: 'Poppins';

$title-font	: 'Myriad Pro';

$other-font : 'Raleway';


$primary-color	: rgb(57, 221, 245);
$light-color    : #FFFFFF;
$light    : #FFFFFF;
$title-color	: #009688;
$text-color		: #757575;
$blue-color     : blue;
$white			: white;
$dark			: #000;
$hover-shadow   : 0px 25px 50px 0px rgba(0, 0, 0, 0.1);

$text-font: "Poppins", sans-serif;
$title-font: "Roboto", sans-serif;
//color
$main-purpel-color: #000;;
$main-purpel-color2: #000;
$primary-color: rgb(57, 221, 245);
$btn_lightBlue: #03a9f4;
$primary-color2: #2db8c9;
$primary-color3: rgb(57, 221, 245);
// $primary-color3: #5B21DA;
$white-color: #ffffff;
$yellow-color: #f5b52f;
$icon-color: #d248f0;
$dark: rgb(24, 20, 20);
$text-color: #777;
$background-color: #f6f6f6;
$block-color: #f6f6f6;
$border-color: #eeeef0;
$border-color2: #7094cd;
$box-shadow: 7px 7px 150px 27px rgba(206, 223, 219, 0.212);
