//    Font Family

$primary-font	: 'Poppins';

$title-font	: 'Myriad Pro';

$other-font : 'Raleway';


$primary-color	: rgb(57, 221, 245);
$light-color    : #FFFFFF;
$light    : #FFFFFF;
$title-color	: #009688;
$text-color		: #757575;
$blue-color     : blue;
$white			: white;
$dark			: #000;
$hover-shadow   : 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
